{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": ["warn", { "code": 120 }],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "@typescript-eslint/indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", {
      "props": false
    }],
    "jsx-a11y/no-onchange": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
