.search-bar {
  display: flex;
  align-items: center;
  border: 5px solid var(--search-bar-color-primary);
  max-width: 780px;
  height: 80px;
  border-radius: 50px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: var(--search-bar-bg-color);

  &__search {
    border: 0;
    flex-grow: 1;
    width: 100%;
    outline: 0;
    background-color: transparent;
    font-size: 37px;
    color: var(--search-bar-search-color);
    padding: 10px;
    caret-color: var(--search-bar-search-color);

    &::placeholder {
      color: var(--search-bar-search-color-hover);
    }
  }

  &__submit {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;

    &::before {
      content: '';
      display: block;
      background-image: url('../../assets/icons/search.svg');
      width: 45px;
      height: 45px;
    }
  }
}
