.navbar {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
  }

  &__link {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    &--active {
      color: #009176;
    }
  }
}
