:root {
  --header-bg-color: #e9e9ea;
  --header-pattern-color: #783fe8;
  --search-bar-bg-color: #e9e9ea;
  --search-bar-color-primary: #009176;
  --search-bar-search-color: #676767;
  --search-bar-search-color-hover: #c1c1c1;
  --card-footer-border-color: rgba(0, 0, 0, 0.1);
  --card-link-color: #009688;
  --card-link-bg-color-hover: rgba(158, 158, 158, 0.2);
  --card-btn-bg-color-hover: rgba(158, 158, 158, 0.2);
}
