.page-header {
  padding: 15px 20px;
  background-color: var(--header-bg-color);
  background-image: radial-gradient(var(--header-pattern-color) 1.85px, var(--header-bg-color) 1.85px);
  background-size: 45px 45px;
  background-position: center;
}
